@import url('header.css');
@import url('footer.css');
@import url("base.css");
<<<<<<< HEAD
<<<<<<< HEAD
=======
@import url("base.css");
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
=======
@import url("base.css");
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
@import url("jquery.gdszoom.css");
*{
	margin: auto;
}
section{
	width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
	height: 11350px;
=======
	height: 4000px;
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
=======
	height: 4000px;
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
	background-color:#EDEDED;
	margin-top: 35px;
	overflow:hidden;
	.content{
		width:1200px;
		.p1{
			margin-top: 35px;
			a{
				font-size:14px;
				color:#666666;
			}
			a:hover{
				color:#FE002A;
			}
		}
		.top{
			width: 1200px;
			height: 520px;
			background-color:#fff;
			box-shadow: 0 2px 5px #ccc;
			margin-top: 30px;
			.left{
				width: 500px;
				height: 450px;
				border:1px solid #ccc;
				float:left;
				margin-top: 30px;
				margin-left: 35px;
				ul{
					padding:0;
					margin:0;
					list-style: none
				}
				.small-list li{
					display: inline-block;
<<<<<<< HEAD
<<<<<<< HEAD
					margin-left: 73px;
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
				}
				.small-list img{
					width:60px;
				}
				.zoom img{
					height:300px;
				}
<<<<<<< HEAD
<<<<<<< HEAD
				.bao{
					width: 500px;
					height: 54px;
					margin-left: 28px;
					margin-top: 23px;
					position: relative;

					a{
						font-size:12px;
						color:#666666;
						margin: 0 23px;
						&:hover{
							color:red;
						}
					}
					span{
						display: block;
						width: 20px;
						height: 20px;
						position: absolute;
						&.a1{
						background:url('../img/detail.png') no-repeat 0px -158px;
						left: 0px;
						top: 3px;
						}
						&.a5{
						background:url('../img/detail.png') no-repeat 0px -39px;
						left: 375px;
						top: 6px;
						}
						&.a3{
						background:url('../img/detail.png') no-repeat 0px -242px;
						left: 200px;
						top: 2px;
						}
						&.a4{
						background:url('../img/detail.png') no-repeat 0px 0px;
						left: 304px;
						top: 6px;
						}
						&.a2{
						background:url('../img/detail.png') no-repeat 0px -199px;
						left: 100px;
						top: 3px;
						}
					}
				}
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
			}
			.right{
				width: 600px;
				height: 450px;
				margin-left: 30px;
				border:1px solid #ccc;
				float:left;
				margin-top: 30px;
<<<<<<< HEAD
<<<<<<< HEAD
				.t{
					width: 550px;
					height: 60px;
					margin-top: 20px;
					border-bottom: 1px dashed #ccc;
				}
				.center{
					width: 550px;
					height: 140px;
					border-bottom: 1px dashed #ccc;
					padding-top: 10px;
					span{
						color:#666666;
						font-size: 14px;
						line-height: 28px;

						&.jg{
							margin-left: 45px;
							font-size: 26px;
							color:red;
						}
						&.jb{
							margin-left: 40px;
						}
						&.fh{
							margin-left: 55px;
						}
						&.ts{
							margin-left: 40px;
						}
					}
				}
				.b{
					width: 550px;
					height: 200px;
					p{
						color:#666666;
						font-size: 14px;
						margin-top: 20px;
					}
					.b1{
						width: 250px;
						float:left;
						span{
							display: block;
							float:left;
							width: 200px;
							height: 30px;
							background-color:#EDEDED;
							margin: 5px;
							
							color:#000;
							font-size: 12px;
							text-align: center;
							line-height: 30px;
							cursor: pointer;
						}
					}
					.b2{
						width: 300px;
						float:left;

						span{
							color:#666666;
							font-size: 14px;
						}
						.cut,.add{
							width: 22px;
							height: 22px;
							display: inline-block;
							background:#DDDDDD;
							font-weight: bold;
							text-align: center;
						}
						input{
							width: 20px;
							text-align: center;
							// border:none ;
						}
						.qg{
							display: block;
							width: 200px;
							height: 40px;
							background-color:#E93A38;
							color:#fff;
							margin-top: 20px;
							text-align: center;
							line-height: 40px;
							border-radius: 20px;
							margin-left: 0;
							cursor: pointer;
						}
						.gwc{
							display: block;
							width: 200px;
							height: 40px;
							background-color:#E93A38;
							color:#fff;
							text-align: center;
							line-height: 40px;
							border-radius: 20px;
							margin-left: 0;
							cursor: pointer;
						}
					}
				}
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
			}
		}
		.like{
			width: 1200px;
			height: 350px;
			box-shadow: 0 2px 5px #ccc;
			background-color:#fff;
			margin-top: 30px;
<<<<<<< HEAD
<<<<<<< HEAD
			overflow: hidden;
			h4{
				margin: 30px 0 10px 30px;
			}
			ul{

				li{
					width: 230px;
					height: 270px;
					float:left;
					margin-left: 63px;
					border:1px solid #EDEDED;
					
					p{
					
						position: relative;
						a{
							i{
								position: absolute;
								top: 180px;
								color:#666666;
								font-size: 14px;
								width: 200px;
								margin-left: 10px;
							}
						}
					}
				}
			}
		}
		.detail{
			width: 1200px;
			height: 10350px;
=======
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
		}
		.detail{
			width: 1200px;
			height: 3000px;
<<<<<<< HEAD
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
			margin-top: 30px;
			.left{
				width: 200px;
				height: 235px;
				float:left;
				h3{
					display: block;
					width: 200px;
					height: 37px;
					background-color:#333333;
					text-align: center;
					color:#fff;
					font-size:14px;
					line-height:37px;
					margin-top: 15px;
					box-shadow: 0 2px 5px #ccc;
				}
				h3:nth-child(1){
					margin-top: 0;
				}
				.history{
					width: 200px;
					height: 100px;
					background-color:#fff;
					box-shadow: 0 2px 5px #ccc;
				}
			}
			.right{
				width: 960px;
<<<<<<< HEAD
<<<<<<< HEAD
				height: 10200px;
=======
				height: 3000px;
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
=======
				height: 3000px;
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
				background-color:#fff;
				box-shadow: 0 2px 5px #ccc;
				float:left;
				margin-left: 40px;
<<<<<<< HEAD
<<<<<<< HEAD
				.nav{
					width: 960px;
					height: 37px;
					li{
						float:left;
						width: 192px;
						height: 37px;
						a{
							display: block;
							height: 37px;
							width: 192px;
							text-align: center;
							line-height: 37px;
							border-right:1px solid #fff;
							color:#fff;
							font-size: 14px;
							background:#7F69B3;
							
						}
					}
				}
				.xinxi{
					width: 960px;
					height: 130px;
					p{
						font-size: 14px;
						margin: 15px 0 0 30px;
						font-weight: bold;
					}
					ul {
						.aa{
							float:left;
							ul{
								li{
								font-size: 12px;
								margin-left: 30px;
								margin-top: 20px;
								}
							}
							
						}
					}
				}
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
			}
		}
	}
}
<<<<<<< HEAD
<<<<<<< HEAD
.active{border:1.4px dashed red;}
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
