@import url("base.css");
footer { width: 100%; }

footer .content { width: 1200px; margin: auto; }

footer .content .link { width: 1200px; height: 160px; margin-top: 60px; }

footer .link ul { list-style: none; }

footer .link ul li > a { text-decoration: none; color: #000; font-weight: bold; font-size: 12px; margin-bottom: 20px; }

footer .link ul li > ul { margin-top: 13px; }

footer .link ul li > ul li > a { text-decoration: none; color: #766e64; font-size: 12px; font-weight: normal; }

footer .link ul li .ul { margin-top: 5px; }

footer .link ul a:hover { color: blue; }

footer .link > ul > li { float: left; margin-right: 100px; }

footer .link > ul > li p { width: 350px; color: #000; font-size: 12px; font-weight: normal; }

footer .link > ul > li .ul > li { float: left; margin-right: 36px; }

footer .nav { width: 100%; height: 44px; background: #463b7f; position: relative; margin: auto; }

footer .nav .ul { width: 1000px; height: 44px; margin: auto; }

footer .nav li { float: left; list-style: none; margin: 0 50px; line-height: 44px; font-size: 16px; }

footer .nav li a { text-decoration: none; color: #fff; }

footer .nav span { display: block; width: 25px; height: 23px; position: absolute; }

footer .nav span.l1 { background: url("../img/nav.png") no-repeat 0 0; left: 156px; top: 11px; }

footer .nav span.l2 { background: url("../img/nav.png") no-repeat 0 -30px; left: 368px; top: 11px; }

footer .nav span.l3 { background: url("../img/nav.png") no-repeat 0 -90px; left: 532px; top: 11px; }

footer .nav span.l4 { background: url("../img/nav.png") no-repeat 0 -60px; left: 733px; top: 11px; }

footer .nav span.l5 { background: url("../img/nav.png") no-repeat 0 -122px; left: 940px; top: 11px; }

footer .foot { background: #f5f5f5; overflow: hidden; }

footer .foot .con { width: 1200px; position: relative; margin: auto; }

footer .foot .con > p { margin-top: 15px; font-size: 12px; color: #766e64; }

footer .foot .con p a { text-decoration: none; font-size: 12px; color: #766e64; margin-right: 10px; }

footer .foot .con .div1 { position: relative; height: 22px; margin-top: 15px; }

footer .foot .con .div1 .p1 { font-size: 12px; color: #766e64; margin-right: 50px; float: left; }

footer .foot .con .div1 i { display: block; background: url("../img/nav.png") no-repeat 0 -146px; left: 260px; top: 0px; width: 20px; height: 20px; position: absolute; }

footer .con .b { position: relative; height: 50px; margin-bottom: 30px; }

footer .con .b span { display: block; width: 108px; height: 40px; position: absolute; }

footer .con .b span.b1 { background: url("../img/nav.png") no-repeat -34px 0; left: 156px; top: 11px; }

footer .con .b span.b2 { background: url("../img/nav.png") no-repeat -34px -50px; left: 368px; top: 11px; }

footer .con .b span.b3 { background: url("../img/nav.png") no-repeat -34px -94px; left: 532px; top: 11px; }

footer .con .b span.b4 { background: url("../img/nav.png") no-repeat -34px -142px; left: 733px; top: 11px; }

footer .con .b span.b5 { background: url("../img/nav.png") no-repeat -34px -189px; left: 940px; top: 11px; }

footer .con span.r1 { background: url("../img/nav.png") no-repeat 0 -241px; left: 1000px; top: 0px; width: 80px; height: 80px; position: absolute; }

footer .con span.r2 { background: url("../img/nav.png") no-repeat 0 -241px; left: 1100px; top: 0px; width: 80px; height: 80px; position: absolute; }

footer .con span.r3 { color: #766e64; font-size: 12px; position: absolute; left: 1011px; top: 85px; }

footer .con span.r4 { color: #766e64; font-size: 12px; left: 1117px; top: 85px; position: absolute; }
