@import url("header.css");
@import url("footer.css");
<<<<<<< HEAD
@import url("carousel.css");
@import url("base.css");
* { margin: auto; }

.box { width: 100%; height: 400px; margin-top: 34px; }

.fu { width: 100%; height: 50px; background: url("../img/min_logo.png") no-repeat; background-color: #fff; box-shadow: 0 0 3px #ccc; position: fixed; top: 0; z-index: 100000000; display: none; }

.fu .sear { width: 1200px; }

.fu .sear .bor { width: 600px; height: 35px; border: 2px solid #51458c; float: left; margin-left: 300px; margin-top: 7px; }

.fu .sear .bot { cursor: pointer; background: #51458c; width: 71px; height: 35px; border: none; float: left; color: #fff; margin-top: 7px; }

section { width: 100%; height: 3330px; background: #fff; }

section .contant { width: 1200px; }

section .contant .main1 { width: 1200px; height: 480px; }

section .contant .main1 ul { margin-top: 20px; }

section .contant .main1 ul li { float: left; margin-left: 19px; }

section .contant .main2 { width: 1200px; height: 515px; }

section .contant .main2 ul li { float: left; margin-left: 19px; margin-top: 31px; }

section .contant .main3 { width: 1200px; height: 497px; }

section .contant .main3 ul li { float: left; margin-left: 10px; margin-top: 31px; }

section .contant .main4 { width: 1200px; height: 497px; }

section .contant .main4 ul { margin-top: 31px; }

section .contant .main4 ul li { float: left; }

.clearfix:after { content: ''; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
=======
@import url("slideshow.css");
@import url("base.css");
.box { width: 100%; height: 400px; margin-top: 34px; }

.fu { width: 100%; height: 50px; background: url("/ajax/project/src/img/min_logo.png") no-repeat; background-color: #fff; box-shadow: 0 0 3px #ccc; position: fixed; top: 0; z-index: 100000000; display: none; }

.fu .bor { width: 600px; height: 35px; border: 2px solid #51458c; float: left; margin-left: 300px; margin-top: 7px; }

.fu .bot { cursor: pointer; background: #51458c; width: 71px; height: 35px; border: none; float: left; color: #fff; margin-top: 7px; }
<<<<<<< HEAD
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
=======
>>>>>>> ca259722b6dd346d4302f6a34a4f1e8e878d48eb
